.projects{
    border: 1px solid #74ee15;
    color: #74ee15;
    border-radius:10px ;
    margin: 50px 0px 50px 0px;
    text-align: center;
}

.projects_main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: transparent;
    color: #74ee15;
    border-color: #74ee15;
    border-radius: 10px;
    margin: 30px 0px 30px 0px;
}

.col{
    display: flex;
    justify-content: center;
}