.skills{
    border: 1px solid  #74ee15;
    border-radius: 10px;
    color: #74ee15;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.skills_main{
    align-items: center;
    width: 100%;
}

.prog_lang{
    border: 1px solid  #74ee15;
    border-radius: 10px;
    color: #74ee15;
    text-align: center;
    margin: 15px 10px 30px 10px;
}

.prog_lang>i{
    font-size: 50px;
    margin: 15px;

}

.prog_lang>h2{
    padding: 0px 0px 10px 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #74ee15;
}


.progress{
    width: 100% !important;
}