@import url("profile.css");
@import url("Skills.css");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;800;900&family=Rubik&display=swap');
.navbar{
    display: flex;
    align-items: center;
    color: #74ee15 !important;
    position: sticky !important;
   top: 0;
   z-index: 100;
}

body{
    background-color:#15202B;
}

.navbar-toggler > span{
    color: #74ee15;

}
.nav-item>a{
    color: #74ee15;
}

.nav-item{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 60px;
    cursor: pointer;
    padding: 10px 0px 0px 5px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-nav{
    margin-left: auto;
}


.navbar-brand{
    cursor: pointer;
    font-weight: 800;
}


.nav-item:hover{
    background-color: #74ee15;
    color: #15202B;
    border-radius: 10px;
}

.nav-item>a:hover{
    background-color: #74ee15;
    color: #15202B;
}


.fa{
    margin-right: 5px !important;
}

.navbar-toggler{
    box-shadow: none !important;
}

@media only screen and (max-width: 749px) {
    .nav-item{
        margin-left:unset;
        padding-top: 10px;
    }

    .navbar-nav{
        margin-left: inherit;
    }
}