@import url("profile.css");
@import url("Skills.css");
@import url("projects.css");
@import url("contact.css");
@import url("Experience.css");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;800;900&family=Rubik&display=swap');


.scroll{
    scroll-margin-top: 70px;
}


.navbar{
    display: flex;
    align-items: center;
    color: #74ee15 !important;
    position: sticky !important;
   top: 0;
   z-index: 100;
}

body{
    background-color:#15202B;
}

.navbar-toggler > span{
    color: #74ee15;

}
.a_nav{
    text-decoration: none;
    color: #74ee15;
}

.a_nav{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 30px;
    cursor: pointer;
    padding: 10px 0px 0px 5px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-item{
    display: contents;
    font-weight: 400;
}
.navbar-nav{
    margin-left: auto;
}


.navbar-brand{
    cursor: pointer;
    font-weight: 800;
}


.a_nav:hover{
    background-color: #74ee15;
    color: #15202B;
    border-radius: 10px;
}



.fa{
    margin-right: 5px !important;
}

.navbar-toggler{
    box-shadow: none !important;
}


.rights{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #74ee15;
    font-weight:500;
    font-size: 12px;
}

.rights>i{
    margin-bottom: 12px;
    margin-right: 10px;
    font-size: 30px;
}


@media only screen and (max-width: 749px) {
    .a_nav{
        margin-left:unset;
        padding-top: 10px;
    }

    .navbar-nav{
        margin-left: inherit;
    }
}


